node_modules
blog-ste/node_modules
circle-quest-7/node_modules
counter-app/node_modules
food-community-project/node_modules
hardhat/su-hardhat-campaign/node_modules
intro-to-graphql/node_modules
my-first-dapp/smart-contract/node_modules
my-first-dapp/frontend/node_modules
Native/react-login-app/login-app/node_modules
Native/furniture-app/node_modules
payments-sample-app/node_modules
rest-graphql/node_modules
zilliqa/project-concert-tickets/node_modules


blog-ste/git
circle-quest-7/git
counter-app/git
food-community-project/git
hardhat/su-hardhat-campaign/git
intro-to-graphql/git
my-first-dapp/smart-contract/git
my-first-dapp/frontend/git
Native/react-login-app/login-app/git
Native/furniture-app/git
payments-sample-app/git
rest-graphql/git
zilliqa/project-concert-tickets/git

move

# emacs backup
*~
